
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1 {
    font-size: 2em;
    margin: .67em 0
}

a {
    background-color: transparent
}


b,
strong {
    font-weight: bolder
}
small {
    font-size: 80%
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[hidden] {
    display: none
}

* {
    box-sizing: border-box;
}

.pink__color {
    color: #FF29BF;
}

.green__color {
    color: #4AF48F;
}

.blue__color {
    color: #0071EB;
}

.text-center {
    text-align: center;
}

.btn__geek {
    color: #202124;
    font-size: 1.125rem;
    padding: 1rem 3rem;
    border-radius: 3rem;
    border: none;
    font-weight: 400;
    transition: all linear 0.25s;
    text-decoration: none;
    display: inline-block;
}
.btn__geek.btn__green{
    color: #202124;
    background-color: #54F293;
}
.btn__geek.btn__green:hover{
    background-color: #0071EB;
    color: #FFFFFF;
}
.send__form{
    margin-top: 3rem;
}

.sub__green {
    position: relative;
    display: inline-block;
}

.sub__green i {
    font-style: normal;
    display: inline-block;
    position: relative;
    z-index: 2;
}

.sub__green:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    display: inline-block;
    bottom: 0;
    border-bottom: 4px solid #54F293;
    z-index: 1;
    border-radius: 2px;
}

html {
    font-family: 'Nunito', sans-serif;
}

.header {
    background-color: #202124;
    padding-left: 2rem;
    padding-right: 2rem;
}

.header .inner__large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 70px;
    line-height: 70px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .inner__large img {
    max-width: 150px;
    max-height: 30px;
}
.header .inner__large > a{
    display: flex;
    align-items: center;
}

.select__lang {
    color: #9AA0A6;
}

.select__lang a {
    color: #9AA0A6;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    -webkit-transition: all linear 0.35s;
    transition: all linear 0.35s;
}

.select__lang a:hover,
.select__lang a:focus,
.select__lang a.active {
    color: #FFFFFF;
}



.inner__large {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.inner__small {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.whatsapp__indicator {
    width: 40px;
    position: absolute;
    right: 2rem;
    top: 0;
    bottom: 0;
    display: none;
    height: 100%;

}

.whatsapp__indicator__cta {
    font-size: 13px;
    color: #4AF48F;
    position: absolute;
    top: 50%;
    width: 100%;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.whatsapp__indicator a {
    color: #4AF48F;
    text-decoration: none;
}

.whatsapp__indicator a:hover svg {
    margin-right: 1.5rem;
}

.whatsapp__indicator svg {
    margin-right: 0.5rem;
    width: 30px;
    height: 30px;
    display: inline-block;
    -webkit-transition: all ease-in 0.25s;
    transition: all ease-in 0.25s;
    vertical-align: middle;
}

.scroll__indicator {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.scroll__indicator__up{
    width: 40px;
    height: 80px;
    
    right: -1rem;
    top: -80px;
    position: absolute;
}

.scroll__indicator__up a ,
.scroll__indicator a {
    padding-top: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    width: 40px;
    height: 70px;
    display: inline-block;
    color: #fff;
    font: normal 400 16px/1 'Nunito', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
.scroll__indicator__up a{
    transform: rotate(-180deg);

}
.scroll__indicator__up > span{
    position: absolute;
    bottom: -1rem;
    text-align: center;
    left: 0;
    width: 100%;
    color: #FF29BF;
} 

.scroll__indicator__up a:hover ,
.scroll__indicator a:hover {
    opacity: .5;
}

.scroll__indicator__up a span ,
.scroll__indicator a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #54F293;
    border-bottom: 1px solid #54F293;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}
.scroll__indicator__up a span{
    border-left: 1px solid #FF29BF;
    border-bottom: 1px solid #FF29BF;
}

.scroll__indicator__up a span:nth-of-type(1),
.scroll__indicator a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.scroll__indicator__up a span:nth-of-type(2),
.scroll__indicator a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

.scroll__indicator__up a span:nth-of-type(3),
.scroll__indicator a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sdb07 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.head__section {
    background-color: #080316;
    padding-top: 4rem;
    padding-bottom: 0;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
}

.head__section .inner__small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.head__section .coltext__head__section {
    padding-right: 1rem;
}


.head__section .coltext__head__section strong {
    font-size: 0.875rem;
    color: #8AB4F8;
    letter-spacing: 0.25em;
    font-weight: 400;
}

.head__section .coltext__head__section h1 {
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: 400;
}

.head__section .coltext__head__section p {
    font-size: 1rem;
    color: #9AA0A6;
    line-height: 1.35em;
}

.head__section .colimg__head__section img {
    max-height: 450px;
    max-width: 470px;
    width: 100%;
}


.services__head {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.services__head .inner__small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
}

.services__head .left_services__head {
    min-width: 300px;
}

.services__head .left_services__head strong {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.25em;
    line-height: 1.35em;
}

.services__head .left_services__head h2 {
    font-size: 2rem;
    line-height: 1.35em;
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: 400;
}
.services__head .left_services__head h2 br{
    display: none;
}


.right_services__head p {
    color: #202124;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1.5rem;
    line-height: 1.35em;
}

.services__grid .inner__large {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.services__grid .inner__large:before {
    content: "";
    position: absolute;
    left: 10%;
    top: 0;
    width: 300px;
    height: 300px;
    background-color: rgba(84, 242, 147, 0.1);
    z-index: 1;
    border-radius: 50%;
}

.services__grid .inner__large>svg {
    position: absolute;
    right: -4rem;
    z-index: 1;
    width: 260px;
    height: 280px;
    bottom: 0;
    display: none;
}

.services__grid .slide__services {
    position: relative;
    z-index: 2;
    padding-bottom: 3rem;
}

.services__grid .splide__arrows .splide__arrow {
    width: 60px;
    background-position: center center !important;
    background: no-repeat;
    background-size: 50px 20px;
    background-repeat: no-repeat;
    bottom: -2.5rem;
    top: auto;
}

.services__grid .splide__arrows .splide__arrow svg {
    display: none;
}

.services__grid .splide__arrows .splide__arrow--prev {
    background-image: url('../img/icons/arrow__left__gray.svg');
    left: 3rem;
}

.services__grid .splide__arrows .splide__arrow--prev:hover ,
.services__grid .splide__arrows .splide__arrow--prev:active ,
.services__grid .splide__arrows .splide__arrow--prev:focus {
    background-image: url('../img/icons/arrow__left__blue.svg');
    left: 3rem;
}
.services__grid .splide__arrows .splide__arrow--prev[disabled]{
    opacity: 0.3;
    pointer-events: none;
    background-image: url('../img/icons/arrow__left__gray.svg');
}

.services__grid .splide__arrows .splide__arrow--next {
    background-image: url('../img/icons/arrow__right__gray.svg');
    right: 3rem;
}
.services__grid .splide__arrows .splide__arrow--next:hover ,
.services__grid .splide__arrows .splide__arrow--next:active ,
.services__grid .splide__arrows .splide__arrow--next:focus {
    background-image: url('../img/icons/arrow__right__blue.svg');
    right: 3rem;
}

.services__grid .splide__arrows .splide__arrow--next[disabled] {
    opacity: 0.3;
    pointer-events: none;
    background-image: url('../img/icons/arrow__right__gray.svg');
}

.slide__services__indicator {
    display: inline-block;
    width: 70px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #9AA0A6;
    font-size: 1rem;
    font-weight: 400;
}

.services__grid .splide__track {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.services__grid .card__slide {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 3px 6px 19px #E4E9F2;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.services__grid .card__slide .service__category {
    font-size: 0.75rem;
    color: #9AA0A6;
    position: absolute;
    left: -1rem;
    top: 4rem;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.services__grid .card__slide .service__image {
    max-height: 80px;
    margin-bottom: 1rem;
}

.services__grid .card__slide .service__title {
    font-size: 1rem;
    text-transform: uppercase;
    color: #FF29BF;
}

.services__grid .card__slide .service__slogan {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.services__grid .card__slide .service__description {
    color: #080316;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.4em;
}


.inline__photo {
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), -webkit-filter 10s 2s ease-out;
    -webkit-transition: -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1), -webkit-filter 10s 2s ease-out;
    transition: -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1), -webkit-filter 10s 2s ease-out;
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), filter 10s 2s ease-out;
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), filter 10s 2s ease-out, -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1), -webkit-filter 10s 2s ease-out;
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), filter 10s 2s ease-out, -webkit-filter 10s 2s ease-out;
    will-change: transform;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.is-animated {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    will-change: transform, opacity;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.inline-element {
    opacity: 0;
    -webkit-transform: translateY(4em);
    transform: translateY(4em);
    -webkit-transition: opacity .3s .25s ease-out, -webkit-transform 2s .25s cubic-bezier(0, 1, .3, 1);
    transition: opacity .3s .25s ease-out, -webkit-transform 2s .25s cubic-bezier(0, 1, .3, 1);
    transition: transform 2s .25s cubic-bezier(0, 1, .3, 1), opacity .3s .25s ease-out;
    transition: transform 2s .25s cubic-bezier(0, 1, .3, 1), opacity .3s .25s ease-out, -webkit-transform 2s .25s cubic-bezier(0, 1, .3, 1);
    will-change: transform, opacity;
}

.inline-element.is-visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}


.all__projects {
    background-color: #4AF48F;
    padding-top: 4rem;
    padding-bottom: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    overflow: hidden;
}

.all__projects .inner__small {
    margin-bottom: 4rem;
    max-width: 900px;
}

.all__projects--slogan {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.25em;
}

.all__projects--title {
    font-size: 2rem;
    font-weight: 400;
}

.all__projects--description {
    font-size: 1rem;
    line-height: 1.35em;
}

.grid__projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.grid__projects .projects__grid__card {
    width: 100%;
    max-width: 100%;
    position: relative;
    margin-bottom: 1rem;
    -webkit-transition: all linear .5s;
    transition: all linear .5s;
}

.grid__projects .projects__grid__card:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgb(8, 3, 22);
    background: -webkit-linear-gradient(bottom, rgba(8, 3, 22, 0.8) 0%, rgba(8, 3, 22, 0) 50%, rgba(8, 3, 22, 0) 100%);
    background: linear-gradient(0deg, rgba(8, 3, 22, 0.8) 0%, rgba(8, 3, 22, 0) 50%, rgba(8, 3, 22, 0) 100%);
    z-index: 2;
    -webkit-transition: all linear .35s;
    transition: all linear .35s;
    opacity: 1;
}

.grid__projects .projects__grid__card:hover:after {
    opacity: 0.5;
}

.grid__projects .projects__grid__card img {
    max-width: 100%;
    position: relative;
    z-index: 1;
    float: left;
}

.grid__projects .projects__grid__category {
    color: #fff;
    background-color: #202124;
    border-radius: 10px;
    font-size: 0.75rem;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
    left: -1.5rem;
    top: 4rem;
    position: absolute;
    line-height: 1.5em;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 3;
    text-transform: uppercase;
    min-width: 100px;
    text-align: center;
}

.grid__projects .projects__grid__category.small{
    min-width: 60px;
    left: -5px;
}

.grid__projects .block__name__project {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: #fff;
    z-index: 3;
}

.grid__projects .block__name__project strong {
    text-transform: uppercase;
    font-size: 1rem;
    position: relative;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    display: inline-block;
    width: 100%;
    -webkit-transition: all linear 0.35s;
    transition: all linear 0.35s;
}

.grid__projects .projects__grid__list {
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.75rem;
    opacity: 1;
    -webkit-transition: all linear 0.35s;
    transition: all linear 0.35s;
    line-height: 1.5em;
}

.grid__projects .projects__grid__card:hover .block__name__project strong {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.grid__projects .projects__grid__card:hover .projects__grid__list {
    opacity: 1;
}

.ctn__waves {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
}

.wave {
    background-image: url('../img/backgrounds/back__wave.svg');
    background-repeat: repeat-x;
    position: absolute;
    background-size: auto 40px;
    top: -40px;
    width: 6400px;
    height: 40px;
    -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@-webkit-keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@-webkit-keyframes swell {

    0%,
    100% {
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    50% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
}

@keyframes swell {

    0%,
    100% {
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    50% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
}

.ctn__clients {
    padding-top: 1rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.ctn__clients__slogan {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.25em;
}

.ctn__clients__title {
    font-size: 2rem;
    font-weight: 400;
}

.grid__clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.grid__clients li {
    width: 50%;
    max-width: 50%;
    text-align: center;
    padding: 1rem;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
}

.grid__clients li:first-of-type {
    border-right: 2px solid #F9F9F9;
}

.grid__clients li:nth-of-type(3) {
    border-right: 2px solid #F9F9F9;
    border-top: 2px solid #F9F9F9;
}

.grid__clients li:nth-of-type(4) {
    border-top: 2px solid #F9F9F9;
}

.grid__clients li:nth-of-type(5),
.grid__clients li:nth-of-type(6),
.grid__clients li:nth-of-type(7),
.grid__clients li:nth-of-type(8) {
    display: none;
}



.grid__clients img {
    max-width: 100px;
    max-height: 100px;
}


.form__contact {
    background-color: #080316;
    overflow: hidden;
}

.select__wrap {
    font-family: 'Nunito', sans-serif;
    position: relative;
    width: 100%;
}

.select__wrap.medium {
    width: 100%;
}


.select-text {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 10px 10px 10px 0;
    font-size: 18px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #fff;
    color: #54F293;
    min-width: 222px;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
}


.select-text:focus {
    outline: none;
    border-bottom: 1px solid #54F293;
}
.select-text.is-invalid {
    border-bottom: 1px solid #FF29BF;
}

.select__wrap .select-text {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none
}

.select__wrap:after {
    width: 8px;
    height: 8px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: absolute;
    right: 10px;
    content: " ";
    top: 17px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.select-label {
    color: rgba(0, 0, 0, 0.26);
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

.select-text:focus~.select-label,
.select-text.is-valid ~ .select-label {
    color: #54F293;
    top: -20px;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    font-size: 14px;
}

.select-text ~ .error__text {
    position: absolute;
    left: 0;
    bottom: -1.5rem;
    font-size: 0.75rem;
    color: #FF29BF;
    font-weight: 400;
    opacity: 0;
    visibility: hidden;
}
.select-text.is-invalid ~ .error__text{
    visibility: visible;
    opacity: 1;
}

.select-bar {
    position: relative;
    display: block;
    width: 100%;
}

.select-bar:before,
.select-bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #54F293;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.select-bar:before {
    left: 50%;
}

.select-bar:after {
    right: 50%;
}


.select-text:focus~.select-bar:before,
.select-text:focus~.select-bar:after {
    width: 50%;
}


.select-highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}



.group__input {
    position: relative;
    margin-bottom: 56px;

}

.group__input input {
    font-size: 18px;
    padding: 10px 1.5rem 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #54F293;
    border-radius: 0;
    box-shadow: none;
}

.group__input input:focus {
    outline: none;
}



.group__input label {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}



.group__input input:focus~label {
    top: -20px;
    font-size: 14px;
    color: #54F293;
}


.group__input input.is-invalid:focus,
.group__input input.is-invalid {
    color: #fff;
    border-bottom: 1px solid #FF29BF !important;
}
.group__input input.is-invalid ~ label{
    color: #fff;
    top: -20px;
}
.group__input input.is-valid ~ label{
    top: -20px;
    color: #54F293;
}

.group__input input.is-invalid ~ .bar:before, 
.group__input input.is-invalid ~ .bar:after{
    background-color: #FF29BF;
}

.group__input input.is-valid ~ .check__input{
    opacity: 1;
    visibility: visible;
}
.group__input .check__input{
    position: absolute;
    right: 9px;
    top: 5px;
    width: 8px;
    height: 16px;
    border: solid #4AF48F;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
    visibility: hidden;
    transition: all linear 0.35s;
}
.group__input .error__input{
    position: absolute;
    right: 4px;
    top: 5px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    transition: all linear 0.35s;
    opacity: 0;
    visibility: hidden;
}
.error__input:hover::before, 
.error__input:hover::after {
    background: #FF29BF;
  }
  .error__input::before, .error__input::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #FF29BF;
  }
  .error__input::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .error__input::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

.group__input input.is-invalid ~ .error__input{
    opacity: 1;
    visibility: visible;
}

.group__input input ~ .error__text{
    position: absolute;
    left: 0;
    bottom: -1.5rem;
    font-size: 0.75rem;
    color: #FF29BF;
    font-weight: 400;
    opacity: 0;
    visibility: hidden;
}
.group__input input.is-invalid ~ .error__text {
    opacity: 1;
    visibility: visible;
}


.group__input input.text__input.is-valid ~ .check__input{
    opacity: 1;
    visibility: visible;
}
.group__input input.text__input.is-invalid ~ .check__input {
    opacity: 0;
    visibility: hidden;
}


.group__input .bar {
    position: absolute;
    display: block;
    width: 100%;
    top: calc(100% + 1px);
}

.group__input .bar:before,
.group__input .bar:after {
    content: '';
    height: 1px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #54F293;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.group__input .bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}


.group__input input:focus~.bar:before,
.group__input input:focus~.bar:after {
    width: 50%;
}


.group__input .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


.group__input input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


@-webkit-keyframes inputHighlighter {
    from {
        background: #54F293;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #54F293;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.form__contact {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.form__contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.form__contact__form .contact__form__left {
    padding-right: 4rem;
    width: 100%;
    color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.form__contact__form .contact__form__right {
    width: 100%;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}

.form__contact__form .contact__form__right p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #8AB4F8;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.form__contact__slogan {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.25em;
}

.form__contact__title {
    font-size: 2rem;
    color: #fff;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form__contact__description {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 4rem;
    display: inline-block;
    width: 100%;
}


.form__contact__inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form__contact__inputs .group__input.medium {
    width: 100%;
}

.form__contact .question__budget {
    font-size: 1.125rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: inline-block;
}

.select__options__budget {
    position: relative;
}

.label__options__budget {
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    color: #54F293;
}

.label__options__budget:after {
    content: "";
    position: absolute;
    right: -4px;
    width: 800px;
    border-bottom: 1px solid #54F293;
    bottom: 0;
}

.list__options__budget {
    display: block;
    margin-top: 1.5rem;
}

.options__budget__option {
    display: inline-block;
    width: 100%;
}

.options__budget__option .option__budget__input {
    position: absolute;
    width: 0;
    height: 0;
}

.option__budget__input+label {
    width: auto;
    border-radius: 0.5rem;
    background-color: transparent;
    line-height: 1.5em;
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border: 1px solid #9AA0A6;
    width: 100%;
    text-align: center;
}

.option__budget__input:checked+label {
    background-color: #54F293;
    color: #080316;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    line-height: 2em;
    border: 1px solid #54F293;
}



.form__text__description {
    width: 100%;
    border-radius: 1.25rem;
    padding: 2rem;
    max-width: 420px;
    resize: none;
    outline: none;
    border: 2px solid #fff;
    -webkit-transition: all linear .25s;
    transition: all linear .25s;
    color: #080316;
}

.form__text__description:focus {
    border-color: #54F293;
}
.form__text__description.is-invalid {
    border-color: #FF29BF;
}
.form__text__description  ~ .error__text{
    text-align: left;
    width: 100%;
    padding-top: 0.5rem;
    font-size: 0.75rem;
    color: #FF29BF;
    font-weight: 400;
    opacity: 0;
    visibility: hidden;
    padding-left: 1rem;
    transition: all linear 0.25s;
}
.form__text__description.is-invalid ~ .error__text{
    opacity: 1;
    visibility: visible;
    
}

.contact__form__large {
    width: 100%;
    min-width: 100%;
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.wrap__terms__conditions {
    color: #fff;
    margin-bottom: 2rem;
}

.wrap__terms__conditions a {
    color: #8AB4F8;
    margin-left: 0.25rem;
}

.wrap__terms__conditions input[type="checkbox"] {
    width: 0;
    height: 0;
}

.wrap__terms__conditions label {
    position: relative;
    padding-left: 2.5rem;
    min-height: 25px;
    display: flex;
    align-items: center;
}
.wrap__terms__conditions .error__text{
    text-align: left;
    width: 100%;
    padding-top: 0.5rem;
    font-size: 0.75rem;
    color: #FF29BF;
    font-weight: 400;
    opacity: 0;
    visibility: hidden;
    padding-left: 1rem;
    transition: all linear 0.25s;
    position: absolute;
}

.container__check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0.875rem;
}

.container__check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.container__check input.is-invalid ~ .error__text{
    opacity: 1;
    visibility: visible;
    left: 1.5rem;
    bottom: -1rem;
} 

.container__check .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
}

.container__check:hover input~.checkmark {
    background-color: #fff;
}

.container__check input:checked~.checkmark {
    background-color: #8AB4F8;
    border: 2px solid #8AB4F8;
}

.container__check .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container__check input:checked~.checkmark:after {
    display: block;
}

.container__check .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container__check input.is-invalid ~ .checkmark {
    border-color: #FF29BF;
}




.footer{
    background-color: #202124;
    background-image: url('../img/illustrations/geek_party.svg');
    background-size: cover;
    background-origin: 0 0;
    color: #fff;
    padding: 2rem;

}
.footer .inner__small{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}
.footer .footer__title{
    color: #8AB4F8;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.25em;
}
.footer .footer__geek{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
}
.footer .footer__direction{
    font-size: 1rem;
    color: #9AA0A6;
}
.footer__right{
    padding-top: 2rem;
}

.footer .social__links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .social__links a{
    margin-bottom: 1rem;
    color: #54F293;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-right: 2rem;
    transition: all linear 0.35s;
    text-decoration: none;
}
.footer .social__links a:hover {
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer .social__links a:after {
    width: 8px;
    height: 8px;
    border-right: 1px solid #4AF48F;
    border-bottom: 1px solid #4AF48F;
    position: absolute;
    right: 0;
    content: " ";
    top: 8px;
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}
.footer .social__links a:hover:after{
    opacity: 1;
}
.footer .social__links a svg{
    margin-right: 1.5rem;
}

.footer .social__links a:last-of-type{
    margin-bottom: 0;
}

.footer .list__social__pages{
    padding-top: 5rem;
    padding-left: 0;
    margin: 0;
    display: flex;
    list-style: none;
    max-width: 260px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
    position: relative;
}
.footer .list__social__pages::before{
    content: '';
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-bottom: 1px solid #8AB4F8;
}
.footer .list__social__pages a{
    position: relative;
    padding: 0.5rem 0.25rem;
    display: inline-block;
}
.footer .list__social__pages a:before{
    content: "";
    position: absolute;
    left: -2px;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #080316;
    z-index: 1;
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transition: all linear 0.25s;
}
.footer .list__social__pages li a:hover:before{
    background-color: #080316;
    transform: scale(1.35,1.35);
    -webkit-transform: scale(1.35,1.35);
}
.footer .list__social__pages li a svg{
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.footer .list__social__pages a svg.link__hover{
    display: none;
}
.footer .list__social__pages a:hover svg.link__hover{
    display: inline-block;
}
.footer .list__social__pages a:hover svg.link__normal {
    display: none;
}
.footer .copyright{
    color: #fff;
    font-size: 0.75rem;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.footer .copyright a{
    color: #fff;
}

.modal__contact__send{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(249,249,249,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    opacity: 0;
    z-index: -100;
    visibility: hidden;
    transition: opacity linear 0.5s, visibility linear 0.1s;
}
.modal__contact__send.open{
    opacity: 1;
    z-index: 10;
    visibility: visible;
}
.modal__contact__send .inner__contact__send{
    background-color: #fff;
    box-shadow: 3px 6px 19px #e4e9f2;
    border-radius: 1rem;
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    font-family: 'Nunito', sans-serif;
    position: relative;
    transition: all linear 0.25s;
    top: 100px;
    text-align: center;
}
.modal__contact__send.open .inner__contact__send{
    top: 0;
    transition: all linear 0.25s;
}

.close__contact__send{
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.modal__contact__send .text__contact__send{
    margin-top: 0;
    margin-bottom: 0;
}

.large__section{
    padding-left: 2rem;
    padding-right: 2rem;
}
.large__section.privacidad {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.large__section.not__found{
    margin-top: 0;
    margin-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}   
.container__not__found{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container__not__found img,
.container__not__found svg {
    max-width: 100%;
    height: auto;
}

.container__not__found .slogan__404{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.25em;
    line-height: 1.35em;
    font-size: 0.875rem;
}
.container__not__found .title__404{
    color: #202124;
    font-size: 2rem;
}
.large__section h1 {
    font-size: 2rem;
    color: #202124;
    font-weight: 400;
}
.large__section .title__section__text strong{
    font-weight: 400;
    color: #0071EB;
}
.large__section p{
    color: #080316;
    line-height: 1.5em;
    font-size: 1rem;
}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 4px;
    z-index: 99;
    background-color: #54F293;
    transition: height 0.5s;
  }

@media screen and (min-width: 768px) {
    .right_services__head p{
        margin-top: 3rem;
        font-size: 1.125rem;
    }
    .all__projects--description{
        font-size: 1.125rem;
    }
    .whatsapp__indicator,
    .scroll__indicator {
        display: block;
    }

    .whatsapp__indicator {
        right: 0;
    }

    .whatsapp__indicator__cta {
        top: 50%;
    }

    .services__head .inner__small,
    .head__section {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .services__head .inner__small,
    .head__section .inner__small {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .services__grid .inner__large>svg {
        display: block;
    }

    .grid__clients {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .grid__clients li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .grid__clients li:nth-of-type(4),
    .grid__clients li:nth-of-type(3),
    .grid__clients li:first-of-type {
        border: none;
    }

    .grid__clients li:nth-of-type(5) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .grid__projects {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .grid__projects .projects__grid__card {
        width: 48%;
        min-width: 48%;
        margin-top: 1rem;
    }

    .head__section .coltext__head__section {
        width: 60%;
        max-width: 60%;
    }
    .form__contact{
        padding-bottom: 4rem;
    }

    .form__contact__form {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .form__contact__form .contact__form__left {
        width: 60%;
    }

    .form__contact__form .contact__form__right {
        width: 40%;
    }

    .select__wrap.medium,
    .form__contact__inputs .group__input.medium {
        width: 45%;
        min-width: 45%;
    }

    .select-text {
        min-width: 222px;
    }

    .form__contact__title,
    .ctn__clients__title,
    .all__projects--title,
    .services__head .left_services__head h2,
    .head__section .coltext__head__section h1 {
        font-size: 2.875rem;
    }
    .services__head .left_services__head h2 br{
        display: block;
    }

    .head__section .coltext__head__section strong {
        font-size: 1rem;
        letter-spacing: 0.25em;
    }

    .head__section .coltext__head__section p {
        font-size: 1.125rem;
        margin-bottom: 2rem;
    }

    .slide__services__indicator{
        left: auto;
        right: 7.125rem;
        top: 0;
        bottom: auto;
    }
    .services__grid .splide__arrows{
        position: absolute;
        right: 2rem;
        top: 0.5rem;
        max-width: 240px;
        width: 100%;
    }
    .services__grid .splide__arrows .splide__arrow--prev{
        left: 0;
    }
    .services__grid .splide__arrows .splide__arrow--next{
        right: 0;
    }
    .services__grid .splide__arrows .splide__arrow{
        bottom: 0;
    }
    .services__grid .splide__arrows .splide__arrow--next:hover, 
    .services__grid .splide__arrows .splide__arrow--next:active,
    .services__grid .splide__arrows .splide__arrow--next:focus{
        right: 0;
    }
    .services__grid .splide__arrows .splide__arrow--prev:hover, 
    .services__grid .splide__arrows .splide__arrow--prev:active, 
    .services__grid .splide__arrows .splide__arrow--prev:focus{
        left: 0;
    }

    .services__grid .slide__services {
        padding-bottom: 0;
        padding-top: 2rem;
    }

    .grid__projects .projects__grid__category {
        background-color: #FF29BF;
    }


    .option__budget__input+label {
        border-color: transparent;
    }

    .options__budget__option {
        width: auto;
    }

    .services__grid .inner__large>svg {
        right: 0;
    }

    .colimg__head__section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .footer .inner__small{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .footer .footer__left{
        width: 35%;
    }
    .footer .footer__right{
        width: 35%;
    }
    .footer .footer__large{
        width: 100%;
    }
    .footer .list__social__pages{
        padding-top: 2rem;
    }
    .footer .list__social__pages::before{
        content: none;
        display: none;
    }
    .footer .copyright{
        font-size: 1rem;
        max-width: 100%;
    }
    .form__text__description{
        min-height: 320px;
    }
    .large__section h1{
        font-size: 2.875rem;
    }
    .large__section p{
        font-size: 1.125rem;
        line-height: 1.375em;
    }

}

@media screen and (min-width: 960px) {
    .grid__projects .projects__grid__card{
        min-width: 30%;
        width: 30%;
    }
    .grid__projects .projects__grid__card:nth-of-type(4) {
        display: none;
    }
}
@media screen and (min-width: 1025px) {
    .grid__projects .projects__grid__list {
        opacity: 0;
    }
    .grid__projects .block__name__project strong {
        -webkit-transform: translateY(1rem);
        transform: translateY(1rem);
    }
    .container__not__found{
        flex-direction: row;
        min-height: 50vh;
    }
    .container__not__found .desc__not__found{
        padding-left: 2rem;
    }
    .container__not__found .title__404{
        max-width: 360px;
    }
    .grid__projects .projects__grid__card{
        width: 23%;
        min-width: 23%;
    }
    .grid__projects .projects__grid__card:nth-of-type(4){
        display: block;
    }

}
@media screen and (min-width: 1200px) {
    .form__contact{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .form__contact__form .contact__form__right{
        padding-right: 0;
    }
    .form__contact__form .contact__form__left{
        padding-left: 0;
    }
    .contact__form__large{
        padding-left: 0;
    }
    .services__head .inner__small{
        padding-left: 0;
        padding-right: 0;
    }
    
}